<h1>All Songs</h1>
<%= link_to '曲を検索', new_song_path %>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= song.title %>
      <%# <%= link_to "削除", song_path(song), method: :delete, data: { confirm: "この曲を削除してもよろしいですか？" } %>
      <%= link_to 'いいね', likes_path(song_id: song.id), method: :post, class: "like-button" %>
    </li>
  <% end %>
</ul>

