<h1>All Songs</h1>

<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %></li>
  <% end %>
</ul>

<% if current_user %>
  <div>
    <h2><%= current_user.username %></h2>
    <p><%= current_user.email %></p>
    <p><%= current_user.age %></p>
  </div>
<% end %>
