<h1>All Songs</h1>
<%= link_to '曲を検索', new_song_path %>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= song.title %>
    <span><%= song.likes.count %> いいね</span>

    <% if current_user %>
      <%= render 'likes/like_button', song: song, liked: song.liked_by?(current_user) %>
    <% end %>
  </li>
<% end %>
</ul>
