@import "https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.paginator-container {
  text-align: center;
  margin-bottom: 50px; /* スペースの大きさを調整 */
}

.paginator-container nav {
  display: inline-block;
}
